<div class="row">
  <div class="col-xxl-5">
    <div class="row">
      <div class="col-md-6">
        <ngx-earning-card></ngx-earning-card>
      </div>
      <div class="col-md-6" style="padding-bottom: 20px;">
        <nb-card style="height: 100%;">
          <nb-card-body style="text-align: center;">
            <h4>Average users age: </h4> <br> <br>
            <h2>{{age}}</h2>
          </nb-card-body>
        </nb-card>
      </div>
    </div>

    <!-- <ngx-traffic-reveal-card></ngx-traffic-reveal-card> -->
  </div>

  <div class="col-xxl-7">
    <ngx-ecommerce-charts></ngx-ecommerce-charts>
  </div>
</div>

<div class="row">
  <div class="col-xxl-9">
    <ngx-ecommerce-visitors-analytics></ngx-ecommerce-visitors-analytics>
  </div>
</div>
